/*Global Elements for Style (apply to whole page initailly) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

/* Start Header and Navigation */

header {
    padding: 20px 30px 20px 10px;
    background-color: #FAE319;
    display:flex;
    justify-content: space-between;
}

header h1 {
    font-weight: bold;
    margin: auto 0px;
    font-size:46px;
}

header a {
    color: #0995ad;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 50px;
}

header nav ul li {
    padding: 20px 50px;
    font-size: 35px;
}

/* End Header and Navigation */

/* Start Footer */

footer {
    background-color:#FAE319;
    display: flex;
    justify-content: space-between;
}

footer h2 {
    padding: 15px;
}

footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

footer .info div {
    padding: 20px;
}