/*Global Elements for Style (apply to whole page initailly) */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

/* Start Header and Navigation Styling*/

.header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.photo-name {
    display: inline-flex;
}

header img {
    height: 200px;
    border: 3px solid black;
    margin: 20px;
    box-shadow: 3px 3px 5px black;

}

header h1 {
    font-weight: bold;
    padding: 25px;
    margin: auto;
    font-size: 48px;     
    text-shadow: 3px 3px 5px thistle;                                         
}

header a {
    color: darkslategray;
    font:bolder;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    list-style: none;
    padding: 20px 50px;
}

header nav ul li a {
    font-size: 30px;
    padding: 15px;
}

/* End Header and Navigation Styling*/

/* Start Footer Styling */

footer {
    background-color:pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 48px;
    text-align: left;
    padding: 10px 10px 10px 40px;
    text-shadow: 3px 3px 5px thistle; 
}

footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

footer .info div {
    padding: 20px;
    margin: 20px;
}

/* End Footer Styling */

/* Start About Me Styling */

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    background:thistle;
}

.about-header {
    text-align: left;
    font-size: 35px;
    width: 40%;
    padding: 15px;
    text-shadow: 3px 3px 5px pink; 
}

.about-text{
    padding: 15px;
}

.about-text p {
    padding: 15px;
    font-size: 25px;
    }

/* End About Me Styling */

/* Start Work Styling */


.work {
    display: flex;
    background:thistle;
    justify-content: center;
    align-items: center;
    width: 100%; 

}

.work-header {
    text-align: left;
    flex-basis: 0 1 400px;
    font-size: 35px;
    width: 50%;
    padding: 15px;
    text-shadow: 3px 3px 5px pink; 
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    row-gap: 15px;
    margin: 15px;
}

.primary-app {
    border: 5px solid black;
    background: lightseagreen;
    padding: 10px;
    margin: 20px;
    width:100%;
    box-shadow: 3px 3px 5px black;
}

.primary-app img {
    width: 100%;
    min-width: 400px;
    border: 3px solid black;
} 

.app {
    background: lightseagreen;
    border: 5px solid black;
    padding: 10px;
    margin: 20px;
    box-shadow: 3px 3px 5px black;
 }

.app img {
    height: 250px;
    border: 3px solid black;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .header {
        font-size: 20px;
        padding: 0;
    }

    .footer {
        font-size: 20px;
        padding: 0;
    }
}
    
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .about-me {
        flex-direction: column;
        justify-content: center;
    }

    .work {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .header{
        flex-direction: column;  
        font-size: 15px;     
    }

    .photo-name {
        flex-direction: column;
    }

    .photo-name img {
        max-width: 300px;
    } 

    .footer {
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
    }

    .info {
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
    } 
}